fieldset{

    height: 320px;
    width: 400px;
    background-color:white;
    border: 2px solid magenta;
    border-radius: 20px;
 


}
div{
    opacity: 0.8;
}
body{
  background-repeat: no-repeat;

    
}

legend{
    font-size: 25px;
}
#submit{
    color:  greenyellow;
    background-color: gray;
    font-size: 20px;
    border-radius: 20px;
}
#username{
    border-radius: 20px;
}
#password{
    border-radius: 20px;
}